# /etc/systemd/system/factorio.service

[Unit]
Description=factorio
After=network.target

[Service]
Restart=on-failure
RestartSec=20
User=factorio
ExecStart=/opt/factorio/factorio/bin/x64/factorio --server-settings /opt/factorio/settings.json --start-server /opt/factorio/main.zip

[Install]
WantedBy=multi-user.target
